<% if(nav === true){ %>
    <div class="w-full px-11 py-4 flex justify-between items-center bg-zinc-800 text-white">
        <a href="/profile">
            <h3 class="text-base"><b class="tracking-wide text-2xl">PhotoStop</b></h3>
        </a>
        <div class="nav flex items-center">
            <a href="/profile">Profile</a> 
            <a href="/feed">Feed</a> 
            <a href="/saved">Saved</a> 
            <a href="/logout" class="px-3 py-2 bg-red-700 rounded-lg">Logout</a>
        </div> 
    </div>
<% } %>