<% include ./partials/header.ejs %>
    <div class="w-full min-h-full bg-zinc-800 px-11 py-5 pt-1">
        <h1 class="text-2xl text-white mt-10">Secret question</h1>
        <hr class="opacity-70 mt-2">
        <form action="/forgetpassword" method="post">
            <input class="block w-96 px-4 py-2 border-2 rounded-md mt-10" type="text" placeholder="Your username name?" name="username" required>
            <input class="block w-96 px-4 py-2 border-2 rounded-md mt-3" type="text" placeholder="Your best friend's name?" name="secret" required> 
            <input class="block w-96 px-4 py-2 bg-red-700 text-white rounded-md mt-3" type="submit" value="Submit">
        </form>
    </div>
<% include ./partials/footer.ejs %>

  







