@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Questrial";
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.error{
    color: rgb(212, 4, 4);
    margin: 7px 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

.like i{
  transition: .2s;
}

.like:hover i{
  color: rgb(245, 63, 63);
}

.fas{
  color: rgb(245, 63, 63);
  transition: .2s;
}

.container
{
  padding-top: 3.5rem;
  width: 100%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  
}
.container .box
{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img
{
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}


img:hover {
  
  opacity: .85;
  box-shadow: 0 0 1px black;
}

@media (max-width: 1427px)
{
  .container
  {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px)
{
  .container
  {
    columns: 4;
  }
}

@media (max-width: 1000px)
{
  .container
  {
    columns: 3;
  }
  
  
  body{
		overflow-x: hidden;
	}
}

@media (max-width: 786px)
{
  .container
  {
    columns: 2;
  }
}


@media (max-width: 480px)
{
  .container
  {
    columns: 1;
  }
}