@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Questrial";
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.nav{
  gap: 1.5rem;;
}

.error{
    color: rgb(212, 4, 4);
    margin: 7px 0;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}

.like i{
  margin-left: 3.5px;
  transition: .2s;
}

.like:hover i{
  color: rgba(245, 63, 63, 0.918);
  cursor: pointer;
}

.fas{
  color: rgb(245, 63, 63);
  transition: .2s;
}

.save{
  margin-right: 3.5px;
  font-size: large;
  transition: .2s;
}

.save:hover{
  color: rgba(255, 255, 255, 0.815);
  cursor: pointer;
}

.edit{
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 7px 11px;
  width: auto;
  background-color: #b81c1d;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  z-index: 1;
  opacity: 1; /* Initial opacity */
  display: none; /* Initially hide the edit button */
  transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.image:hover .edit {
  display: block; /* Show the edit button when hovering over the image */
}

.edit:hover {
  background-color: #8d1515;
  pointer-events: auto; /* Ensure pointer events are enabled */
}

.image:hover img {
  opacity: 0.85; /* Adjust the opacity as needed */
  box-shadow: 0 0 1px black; /* Add a box shadow on hover */
}


@media only screen and (max-width: 768px) {
  .edit {
    padding: 4px 7px; /* Adjust padding */
    font-size: 0.7rem; /* Adjust font size */
    border-radius: 15px; /* Adjust border radius */
  }
}

.container
{
  padding-top: 3.5rem;
  width: 100%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  
}
.container .box
{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img
{
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in; 
  cursor: zoom-in;
}


img:hover {
  opacity: .65;
  box-shadow: 0 0 1px black;
}

@media (max-width: 1427px)
{
  .container
  {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px)
{
  .container
  {
    columns: 4;
  }
}

@media (max-width: 1000px)
{
  .container
  {
    columns: 3;
  }
  
  
  body{
		overflow-x: hidden;
	}
}

@media (max-width: 786px)
{
  .container
  {
    columns: 2;
  }
}


@media (max-width: 480px)
{
  .container
  {
    columns: 1;
  }
}